body {
	overflow-x: hidden;
	font-family: $font_6, $font_1, $font_2, $font_3, $font_4;
	webkit-tap-highlight-color: $yellow-light;
}
.text-muted {
	color: $dark-gray;
}
.text-primary {
	color: $yellow-light;
}
p {
	font-size: 14px;
	line-height: 1.75;
	&.large {
		font-size: 16px;
	}
}
a {
	outline: none;
	color: $yellow-light;
	&:hover {
		outline: none;
		color: $yellow-basic;
	}
	&:focus {
		outline: none;
		color: $yellow-basic;
	}
	&:active {
		outline: none;
		color: $yellow-basic;
	}
	&.active {
		outline: none;
		color: $yellow-basic;
	}
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
.img-centered {
	margin: 0 auto;
}
.bg-light-gray {
	background-color: $light-gray;
}
.bg-darkest-gray {
	background-color: $black;
}
.btn-primary {
	color: $white;
	background-color: $yellow-light;
	border-color: $yellow-light;
	font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
	text-transform: uppercase;
	font-weight: 700;
	&:hover {
		@extend %extend_2;
	}
	&:focus {
		@extend %extend_2;
	}
	&:active {
		@extend %extend_2;
		background-image: none;
	}
	&.active {
		@extend %extend_2;
		background-image: none;
	}
	&.disabled {
		background-color: $yellow-light;
		border-color: $yellow-light;
		&:hover {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&:focus {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&:active {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&.active {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
	}
	.badge {
		color: $yellow-light;
		background-color: $white;
	}
}

.btn-xl {
	color: $white;
	background-color: $yellow-light;
	border-color: $yellow-light;
	font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
	text-transform: uppercase;
	font-weight: 700;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
	&:hover {
		@extend %extend_3;
	}
	&:focus {
		@extend %extend_3;
	}
	&:active {
		@extend %extend_3;
		background-image: none;
	}
	&.active {
		@extend %extend_3;
		background-image: none;
	}
	&.disabled {
		background-color: $yellow-light;
		border-color: $yellow-light;
		&:hover {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&:focus {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&:active {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
		&.active {
			background-color: $yellow-light;
			border-color: $yellow-light;
		}
	}
	.badge {
		color: $yellow-light;
		background-color: $white;
	}
}

