footer {
	padding: 25px 0;
	text-align: center;
	span.copyright {
		line-height: 40px;
		font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
		text-transform: uppercase;
		text-transform: none;
	}
	ul.quicklinks {
		margin-bottom: 0;
		line-height: 40px;
		font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
		text-transform: uppercase;
		text-transform: none;
	}
}
.btn {
	&:focus {
		outline: none;
	}
	&:active {
		outline: none;
		&:focus {
			outline: none;
		}
	}
	&.active {
		outline: none;
	}
}