doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Agency Theme
    // Fonts
    link(href='assets/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap.css', rel='stylesheet')

    link(href='assets/sass/main.css', rel='stylesheet')
  body#page-top.index
        include layout/header.jade
        include sections-jade/services.jade
        include sections-jade/portfolio.jade
        include sections-jade/about.jade
        include sections-jade/team.jade
        include sections-jade/clients.jade
        include sections-jade/form.jade
        include layout/footer.jade
    block main      
    script(src="assets/js/bootstrap.min.js" language="javascript" type="text/javascript")
    script(src="assets/js/jquery.js" language="javascript" type="text/javascript")
    script(src="assets/js/main.js" language="javascript" type="text/javascript")
    
