footer  
          .container
            .row
              .col-lg-4 Copyright &#169 Your Website 2014
              .col-lg-4 
                ul.list-inline.social-buttons
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-linkedin
              .col-lg-4 
                ul.list-inline.quicklinks
                  li
                    a(href="#") Privacy Policy
                  li
                    a(href="#") Terms of use