//colors
$black: #222;
$dark-gray: #777;
$yellow-light: #fed136;
$yellow-basic: #fec503;
$light-gray: #f7f7f7;
$white: white;
$lite-light-gray: #bbbbbb;
$redy: #e74c3c;

//fonts
$font_0: Droid Serif;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Montserrat;
$font_6: Roboto Slab;
$font_7: Kaushan Script;
$font_8: cursive;

//urls
$url_0: url(../../img/header-bg.jpg);
$url_1: url(../../img/map-image.png);