section#contact
          .container
            .row
              .col-lg-12.text-center
                h2.section-heading  Contact-Us
                h3.section-subheading.text-muted   Lorem ipsum dolor sit amet, consectetur.
            .row
              .col-lg-12
                form#contactform
            .row
                .col-md-6.text-center
                  .form-group
                    input.form-control(type="text" placeholder="Your Name *")
                    input.form-control(type="text" placeholder="Your Email *")
                    input.form-control(type="text" placeholder="Your Phone *")  
                .col-md-6.text-center
                  .form-group
                    textarea.form-control(name="", cols="30", rows="10" placeholder="Please enter a message.")
            .col-lg-12.text-center
              button.btn-xl  SEND MESSAGE